body {
  background: rgb(191, 137, 137);
  color: white;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;

  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

input {
  display: none;
}

.staricon {
  font-size: 25px;
}